.navbar{
    display: flex;
    justify-content: space-between;
    padding: 15px var(--horizontalspace);
    background-color: var(--primary);
    position: fixed;
    width: 100%;
    z-index: 10;
}
.logo{
    display: inline;
    font-family: var(--headingFont);
    font-weight: 900;
    letter-spacing: 3px;
    font-size: var(--title4);
}
.logoLink{   
    color:var(--darkText) ;
    text-decoration: none;
}
.navLinks{
    display: flex;
    list-style: none;
    align-items: center;
}
.NavLink{
    margin: 0 10px;
    text-decoration: none;
    font-size: var(--textsize);
    font-family: var(--headingFont);
    font-weight: 500;
    color:var(--fadedLight) ;
    transition: .5s;
    padding: 5px 15px;
    letter-spacing: 1px;
}
.NavLink:hover{
    color: var(--lightText);
}
.linkLI:hover .NavLink{
    border-bottom: 1px solid var(--lightText);

}